# Bỏ qua tất cả các thư mục môi trường ảo
venv/
*/venv/

# Bỏ qua tất cả Database
db.sqlite3
*/db.sqlite3

# Bỏ qua file rác của Python và IntelliJ
__pycache__/
*.pyc
.idea/

# Bỏ qua dữ liệu thô của Database
mysql_data/
neo4j_data/
redis_data/

# Bỏ qua môi trường ảo và bộ nhớ đệm Python
__pycache__/
*.pyc
venv/
env/

# Bỏ qua file cấu hình chứa mật khẩu
.env

# Bỏ qua dữ liệu mô hình Ollama
ollama_data/

# Bỏ qua các file từ điển AI (FAISS, Pickle)
*.bin
*.pkl